<agm-map
  [latitude]="currentPosition?.lat || ENV.map.lat"
  [longitude]="currentPosition?.lng || ENV.map.lng"
  [zoom]="ENV.map.zoom"
  [zoomControl]="false"
  [streetViewControl]="false"
  [styles]="ENV.map.styles"
>
  <agm-marker
    [latitude]="currentPosition?.lat || ENV.map.lat"
    [longitude]="currentPosition?.lng || ENV.map.lng"
    [iconUrl]="'assets/images/current-location.png'"
  ></agm-marker>
  <agm-marker
    *ngIf="famousGuy"
    [latitude]="famousGuy.latLng.lat"
    [longitude]="famousGuy.latLng.lng"
    [iconUrl]="'assets/images/marker.png'"
    (markerClick)='markerClicked(famousGuy)'
  ></agm-marker>
</agm-map>

<div class="controls">
  <button mat-raised-button color="primary" (click)="openDialog()">Manage Famous People</button>
</div>
