<h1 mat-dialog-title>Famous</h1>

<div mat-dialog-content>

  <mat-nav-list *ngIf="items && items.length">
    <mat-list-item *ngFor="let item of items; let i = index">
       <h3 mat-line> {{ item.name }} </h3>
       <button mat-icon-button (click)="onEdit(i)">
          <mat-icon>edit</mat-icon>
       </button>
       <button mat-icon-button (click)="onRemove(i)">
          <mat-icon>delete_outline</mat-icon>
       </button>
    </mat-list-item>
  </mat-nav-list>

  <span *ngIf="items && !items.length">The list is empty.</span>
  <span *ngIf="items == null">Loading..</span>

</div>

<div mat-dialog-actions align="end">
  <button primary mat-button (click)="onCreate()">Add</button>
  <button primary mat-button (click)="onOk()">Ok</button>
</div>
