@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html{
  width: 100%;
  height: 100%;
}
body{
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
