<h1 mat-dialog-title>Remove</h1>

<div mat-dialog-content>

  Are you sure you want to remove this famous guy?

</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="true">Delete</button>
</div>
